#parts {
    overflow: hidden; /* clearfix */
}

div.part {
    padding: 5px;
    border: 2px solid #484848;
    margin: 10px;
    height: 40px;
}

div.part:nth-child(even) {
    background-color: #FAFAFA;
}

div.details {
    display: inline-block;
    overflow: hidden; /* clearfix */
}

div.details > label {
    display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    display: block;
    float: left;
}

label.quantity {
    margin-top: 0px;
    font-size: 2.5em;
}

label.name {
    font-weight: bold;
    font-size: 1.2em;
}

label.serial {
    font-size: 0.8em;
    font-style: italic;
}

div.buttons {
    margin-top: 4px;
    float: right;
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#summary {
    margin-top: 20px;
    margin-left: 10px;
}

#summary > * {
    padding: 8px;
    margin: 5px;
    float: right;
    font-size: 1.2em;
}

#btnOrder {
    width: 150px;
}

#btnClear {
    cursor: pointer;
    text-decoration: underline;
}