#item {
    overflow: hidden; /* clearfix */
}

#items > div.item {
    padding: 5px;
    border: 2px solid #484848;
    margin: 10px;
    height: 40px;
}

#items > div.item:nth-child(even) {
    background-color: #FAFAFA;
}

#items > div.item > div.details {
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#items > div.item > div.details > label {
    display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    display: block;
    float: left;
}

#items > div.item > div.details > label.quantity {
    margin-top: 0px;
    font-size: 2.5em;
}

#items > div.item > div.details > label.name {
    font-weight: bold;
    font-size: 1.2em;
}

#items > div.item > div.details > label.serialGlider {
    font-size: 0.8em;
    font-style: italic;
}

#items > div.item > div.buttons {
    margin-top: 4px;
    float: right;
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#summary {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 4px;
}

#summary > * {
    padding: 8px;
    margin: 5px;
    float: right;
}

#summary > input[type=button] {
    width: 200px;
    cursor: hand;
}

#btnClear {
    cursor: pointer;
    text-decoration: underline;
}