/* Mise en page */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Arial", sans-serif;
}

#wrapper {
    position: relative;
    min-width: 1280px;
    min-height: 100%;
    overflow: auto;
}

#header-band,
#footer-band {
    background-color: #484848;
}

#content {
    width: 960px;
    margin: 0px auto;
    padding-bottom: 110px;
    overflow: auto;
}

#header-band {
    top: 0;
}

#footer-band {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#header-wrapper,
#footer-wrapper {
    margin: 0px auto;
    height: 100px;
    width: 1280px;;
    overflow: hidden;
}

/* En-tête */

#logo-dutailier,
#menu,
#logo-babiesRus {
    display: block;
    float: left;
    margin: 5px auto;
}

#logo-dutailier {
    width: 324px;
    height: 86px;
    margin: 7px 0px;
}

#menu {

    height: 90px;
    overflow: hidden;
    padding: 0px;
    width: 577px;
    text-align: center;
}

#menu > li {
    display: inline-block;
    margin: 26px 10px;
    background-color: #F0F0F0;
    border: 1px solid white;
    text-align: center;
}

#menu > li > a {
    display: block;
    line-height: 20px;
    width: 100px;
    font-weight: bold;
    list-style: none;
    color: black;
    padding: 8px;
    text-decoration: none;
}

#menu > li > a:hover {
    cursor: pointer;
    background-color: #D0D0D0;
}

#logo-babiesRus {
    width: 379px;
    height: 80px;
    margin: 10px 0px;
}

/* Pied de page */

#copyright {
    float: right;
    padding: 5px;
    color: white;
}

/* Default */

label.error {
    color: red;
}

input.error, textarea.error {
    border: 2px solid red;
}

input, textarea, select {
    padding: 6px;
}

a.button, input[type=button], input[type=submit] {
    font-size: 1.1em;
}

.hidden {
    visibility: hidden;
}