/* Mise en page */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Arial", sans-serif;
}

#wrapper {
    position: relative;
    min-width: 960px;
    min-height: 100%;
    overflow: auto;
}

#header-band,
#footer-band {
    background-color: #484848;
}

#content {
    width: 960px;
    margin: 0px auto;
    padding-bottom: 110px;
    overflow: hidden; /* Clearfix */
}

#header-band {
    top: 0;
}

#footer-band {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#header-wrapper,
#footer-wrapper {
    margin: 0px auto;
    height: 100px;
    width: 960px;
    overflow: hidden; /* Clearfix */
}

/* En-tête */
#logo-dutailier {
    width: 324px;
    height: 86px;
    margin: 7px 0px;
}

#menu {
    overflow: hidden;
    padding: 0px;
    margin: 5px;
    float: right;
}

#menu > li {
    display: inline-block;
    margin: 12px 0px 12px 19px;
    border-left: 1px solid #FFFFFF;
}

#menu > li:first-child {
    border: none;
}

#menu > li > a {
    display: block;
    line-height: 10px;
    list-style: none;
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 8px 0px 8px 20px;
    text-decoration: none;
}

#menu > li > a:hover {
    cursor: pointer;
    color: #F0F0F0;
}

#greeting {
    margin: 5px 0px;
    float: right;
    clear: right;
    color: #FFFFFF;
    font-style: italic;
}

#username {
    font-weight: bold;
}

#logo-babiesRus {
    width: 379px;
    height: 80px;
    margin: 10px 0px;
}

/* Pied de page */

#copyright {
    float: right;
    padding: 5px;
    color: white;
}

/* Default */

label.error {
    color: red;
}

input.error, textarea.error {
    border: 2px solid red;
}

input, textarea, select {
    padding: 6px;
}

a.button, input[type=button], input[type=submit] {
    font-size: 1.1em;
    cursor: pointer;
}

.hidden {
    display: none;
}

span.highlight {
    background-color: yellow;
}

ul.pagination {
    list-style-type: none;
    height: 40px;
    text-align: center;
}

ul.pagination > li {
    display: inline-block;
    margin: 5px 10px;
    line-height: 30px;
    cursor: pointer;
    font-size: 1.5em;
}

ul.pagination > li.selected {
    text-decoration: underline;
}