#background {
    background: url(../img/backgrounds/login.png) no-repeat;
    height: 780px;
}

#login {
    position: relative;
    margin: 0px auto;
    width: 250px;
    top: 73%;
}

#login > form > p {
    clear: both;
    margin: 10px 0px;
}

#login > form > p > input {
    width: 100%;
    margin: 0px;
}
