#tabs {
    list-style-type: none;
    padding: 0px;
    height: 38px;
    border-bottom: 2px solid #484848;
    overflow: visible; /* Clearfix */
}

#tabs > li {
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    border: 2px solid #484848;
    line-height: 20px;
    padding: 8px;
    width: 100px;
    background-color: #FAFAFA;
}

#tabs > li:hover {
    background-color: #FFFFFF;
}

#tabs > li.selected {
    background-color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    z-index: 999999;
}

div.tab {
    margin-bottom: 20px;
}

#banners > div.banner {
    border: 1px solid #484848;
    padding: 5px 20px;
    margin: 20px 0px 0px 0px;
    overflow: hidden; /* Clearfix */
    height: 50px;
    cursor: pointer;
}

#banners > div.banner * {
    cursor: pointer;
}

#banners > div.banner > div.bannerDetails > label.name {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 50px;
    float: left;
}

#stores > div.store {
    border: 1px solid #484848;
    padding: 5px 20px;
    margin: 20px 0px 0px 0px;
    overflow: hidden; /* Clearfix */
    height: 50px;
    cursor: pointer;
}

#stores > div.store * {
    cursor: pointer;
}

#stores > div.store > div.storeDetails > label.name {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 50px;
    float: left;
}

#stores > div.store > div.storeDetails > label.username {
    line-height: 50px;
    float: left;
    font-style: italic;
    margin-left: 10px;
}

div.filters {
    border: 1px solid #484848;
    padding: 8px;
    overflow: hidden; /* Clearfix */
}

div.filters * {
    line-height: 20px;
    margin: 0px 5px;
}

#btnSearchNumber,
#btnRangeOfDates,
#btnSearchUsername {
    width: 75px;
}

#number, input.date, #banner {
    text-align: center;
    width: 180px;
    font-size: 1.2em;
}

#dates, #banners {
    float: right;
}

#dates * {
    text-align: center;
}

#orders > div.order {
    border: 1px solid #484848;
    padding: 5px 20px;
    margin: 20px 0px 0px 0px;
    overflow: hidden; /* Clearfix */
    height: 50px;
    cursor: pointer;
}

#orders > div.order * {
    cursor: pointer;
}

#orders > div.order > label.number {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 50px;
    float: left;
}

#orders > div.order > label.status,
#orders > div.order > label.lastModification {
    float: right;
    line-height: 25px;
    margin: 0px;
}

#orders > div.order > label.status {
    font-size: 1.4em;
    font-weight: bold;
}

#orders > div.order > label.lastModification {
    font-size: 0.8em;
    clear: right;
}

#orders > div.order.canceled {
    background-color: rgba(255, 0, 0, 0.3);
}

#orders > div.order.confirmed {
    background-color: rgba(0, 170, 0, 0.3);
}

#orders > div.orderDetails {
    position: relative;
    top: -1px; /* Pour n'avoir qu'une seule ligne. */
    border: 1px solid #484848;
    padding: 10px 20px;
    overflow: hidden; /* Clearfix */
}

#orders > div.orderDetails > fieldset {
    margin: 10px;
    border: 1px solid #484848;
    overflow: hidden; /* Clearfix */
}

#orders > div.orderDetails > fieldset > legend {
    padding: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#orders > div.orderDetails > fieldset.storeInfos {
    clear: both;
}

#orders > div.orderDetails > fieldset.shippingAddressInfos > p {
    float: left;
    margin: 5px 0px;
    overflow: hidden; /* Clearfix */
}

#orders > div.orderDetails > fieldset.receiverInfos,
#orders > div.orderDetails > fieldset.storeInfos {
    float: left;
    width: 411px;
    height: 215px;
}

#orders > div.orderDetails > fieldset.receiverInfos > p,
#orders > div.orderDetails > fieldset.storeInfos > p {
    float: left;
    margin: 5px 0px;
    clear: both;
    overflow: hidden; /* Clearfix */
}

#orders > div.orderDetails > fieldset > p > label.properties {
    display: block;
    float: left;
    font-weight: bold;
    clear: both;
}

#orders > div.orderDetails > fieldset > p > label.values {
    display: block;
    float: left;
    clear: both;
}

#orders > div.orderDetails > div.lines {
    float: left;
    clear: both;
    margin: 10px auto;
    overflow: hidden; /* clearfix */
}

#orders > div.orderDetails > div.lines > div.line {
    padding: 5px;
    border: 1px solid #484848;
    margin: 0px 10px 10px 10px;
    height: 40px;
    width: 882px;
}

#orders > div.orderDetails > div.lines > div.line:nth-child(even) {
    background-color: #FAFAFA;
}

#orders > div.orderDetails > div.lines > div.line > div.lineDetails {
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#orders > div.orderDetails > div.lines > div.line > div.lineDetails > label {
    display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    float: left;
}

#orders > div.orderDetails > div.lines > div.line > div.lineDetails > label.quantity {
    margin-top: 0px;
    font-size: 2.5em;
}

#orders > div.orderDetails > div.lines > div.line > div.lineDetails > label.name {
    font-weight: bold;
    font-size: 1.2em;
}

#orders > div.orderDetails > div.lines > div.line > div.lineDetails > label.serial {
    font-size: 0.8em;
    font-style: italic;
}

#orders > div.orderDetails > div.buttons * {
    padding: 8px;
    float: right;
    margin: 0px 10px 10px 10px;
    font-size: 1.2em;
    line-height: 23px;
    width: 150px;
}