#tabs {
    list-style-type: none;
    padding: 0px;
    height: 38px;
    border-bottom: 2px solid #484848;
    overflow: visible;
}

#tabs > ul > li {
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    border: 2px solid #484848;
    line-height: 20px;
    padding: 8px;
    width: 100px;
    background-color: #FAFAFA;
    overflow: hidden; /* Clearfix */
}

#tabs > ul > li:hover {
    background-color: #FFFFFF;
}

#tabs > ul > li.selected {
    background-color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    z-index: 999999;
}

div.tab {
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden; /* Clearfix */
}

#btnAddStore {
    float: right;
}

#stores > div.store > div.infos {
    border: 1px solid #484848;
    padding: 5px 20px;
    margin: 20px 10px 0px 10px;
    overflow: hidden; /* Clearfix */
    height: 50px;
    cursor: pointer;
}

#stores > div.store > div.infos * {
    cursor: pointer;
}

#stores > div.store > div.infos > label.name {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 50px;
    float: left;
}

#stores > div.store > div.infos > label.username {
    line-height: 50px;
    float: left;
    font-style: italic;
    margin-left: 10px;
}

div.filters {
    border: 1px solid #484848;
    padding: 8px;
    overflow: hidden; /* Clearfix */
}

div.filters label {
    font-weight: bold;
}

div.filters input, select {
    text-align: center;
    font-size: 1.2em;
    width: 200px;
}

div.filters * {
    line-height: 20px;
    margin: 0px 5px;
}

div.keyWordsWrapper {
    float: left;
    overflow: hidden; /* Clearfix */
}

#datesWrapper,
#bannersWrapper {
    float: right;
    overflow: hidden; /* Clearfix */
}

#orders > div.order > div.infos {
    border: 1px solid #484848;
    padding: 5px 20px;
    margin: 20px 10px 0px 10px;
    overflow: hidden; /* Clearfix */
    height: 50px;
    cursor: pointer;
}

#orders > div.order > div.infos * {
    cursor: pointer;
}

#orders > div.order > div.infos > label.number {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 50px;
    float: left;
}

#orders > div.order > div.infos > label.status,
#orders > div.order > div.infos > div.date {
    float: right;
    line-height: 25px;
    margin: 0px;
}

#orders > div.order > div.infos > label.status {
    font-size: 1.4em;
    font-weight: bold;
}

#orders > div.order > div.infos > div.date {
    clear: right;
    font-size: 0.8em;
}

#orders > div.order > div.infos.canceled {
    background-color: rgba(255, 0, 0, 0.3);
}

#orders > div.order > div.infos.confirmed {
    background-color: rgba(0, 170, 0, 0.3);
}

#orders > div.order > div.infos.pending,
#stores > div.store > div.infos {
    background-color: rgb(250, 250, 250);
}

div.details {
    position: relative;
    top: -1px; /* Pour n'avoir qu'une seule ligne. */
    border: 1px solid #484848;
    padding: 10px 20px;
    overflow: hidden; /* Clearfix */
    margin: 0px 10px;
}

div.details > fieldset {
    margin: 10px;
    border: 1px solid #484848;
    overflow: hidden; /* Clearfix */
}

div.details > fieldset > legend {
    padding: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#orders > div.order > div.details > fieldset.storeInfos {
    clear: both;
}

div.details > fieldset > p {
    float: left;
    margin: 5px 0px;
    overflow: hidden; /* Clearfix */
    clear: both;
}

#orders > div.order > div.details > fieldset.receiverInfos,
#orders > div.order > div.details > fieldset.storeInfos {
    float: left;
    width: 392px;
    height: 215px;
}

div.details > fieldset > p > label.properties {
    display: block;
    float: left;
    font-weight: bold;
    clear: both;
}

div.details > fieldset > p > label.values {
    display: block;
    float: left;
    clear: both;
}

#orders > div.order > div.details > div.lines {
    float: left;
    clear: both;
    margin: 10px auto;
    overflow: hidden; /* clearfix */
}

#orders > div.order > div.details > div.lines > div.line {
    padding: 5px;
    border: 1px solid #484848;
    margin: 5px 10px 5px 10px;
    height: 40px;
    width: 842px;
}

#orders > div.order > div.details > div.lines > div.line:nth-child(even) {
    background-color: #FAFAFA;
}

#orders > div.order > div.details > div.lines > div.line > div.lineDetails {
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#orders > div.order > div.details > div.lines > div.line > div.lineDetails > label {
    display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    float: left;
}

#orders > div.order > div.details > div.lines > div.line > div.lineDetails > label.quantity {
    margin-top: 0px;
    font-size: 2.5em;
}

#orders > div.order > div.details > div.lines > div.line > div.lineDetails > label.name {
    font-weight: bold;
    font-size: 1.2em;
}

#orders > div.order > div.details > div.lines > div.line > div.lineDetails > label.serial {
    font-size: 0.8em;
    font-style: italic;
}

div.details > div.buttons * {
    padding: 8px;
    float: right;
    margin: 5px 10px 10px 10px;
    font-size: 1.2em;
    line-height: 23px;
    width: 150px;
}

#logs > div.log {
    position: relative;
    border: 1px dotted #484848;
    padding: 10px;
    margin: 10px;
    overflow: hidden; /* Clearfix */
}

#logs > div.log > label.text {
    font-size: 1.2em;
    line-height: 30px;
}

#logs > div.log > div.date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    clear: both;
    font-size: 0.7em;
    float: right;
}

div.date > label.username,
#logs > div.log > label.orderNumber {
    font-weight: bold;
}

label.datetime {
    font-style: italic;
}