#tabs {
    list-style-type: none;
    padding: 0px;
    height: 38px;
    border-bottom: 2px solid #484848;
    overflow: visible;
}

#tabs > ul > li {
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    border: 2px solid #484848;
    line-height: 20px;
    padding: 8px;
    width: 100px;
    background-color: #FAFAFA;
    overflow: hidden; /* Clearfix */
}

#btnBackManager,
#btnBackOrders {
    float: right;
    text-decoration: underline;
    padding: 8px;
}

#tabs > ul > li:hover {
    background-color: #FFFFFF;
}

#tabs > ul > li.selected {
    background-color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    z-index: 999999;
}

div.tab {
    margin-bottom: 20px;
    overflow: hidden; /* Clearfix */
    display: none;
}

fieldset {
    display: block;
    float: left;
    margin: 10px 10px 20px 10px;
    padding: 10px 20px;
    width: 258px;
    height: 250px;
    border: 1px solid #484848;
    overflow: hidden; /* Clearfix */
}

fieldset > legend {
    padding: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
}

fieldset > p {
    float: left;
    width: 258px;
    margin: 5px 0px;
    clear: both;
    overflow: hidden; /* Clearfix */
}

fieldset > p > label.properties {
    display: block;
    float: left;
    font-weight: bold;
}

fieldset > p > label.values {
    display: block;
    float: left;
    clear: both;
}

#orderInfos {
    width: 898px;
    height: 75px;
}

#orderInfos > p {
    clear: none;
}

#orderInfos > p:nth-child(odd) {
    padding: 0px 62px;
}

hr {
    width: 900px;
    margin: 5px auto;
    float: left;
}

#lines {
    float: left;
    margin: 10px auto;
    width: 960px;
    overflow: hidden; /* clearfix */
}

#lines > div.line {
    padding: 5px;
    border: 2px solid #484848;
    margin: 10px;
    height: 40px;
}

#lines > div.line:nth-child(even) {
    background-color: #FAFAFA;
}

#lines > div.line > div.details {
    display: inline-block;
    overflow: hidden; /* clearfix */
}

#lines > div.line > div.details > label {
    display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    float: left;
}

#lines > div.line > div.details > label.quantity {
    margin-top: 0px;
    font-size: 2.5em;
}

#lines > div.line > div.details > label.name {
    font-weight: bold;
    font-size: 1.2em;
}

#lines > div.line > div.details > label.serial {
    font-size: 0.8em;
    font-style: italic;
}

#comments,
#logs {
    width: 960px;
    float: left;
    margin: 10px auto;
    overflow: hidden; /* Clearfix */
}

#comments > div.comment,
#logs > div.log {
    position: relative;
    border: 1px dotted #484848;
    padding: 10px;
    margin: 10px 10px;
    overflow: hidden; /* Clearfix */
}

#comments > div.comment > label.text,
#logs > div.log > label.text {
    font-size: 1.2em;
    line-height: 30px;
}

#comments > div.comment > div.date,
#logs > div.log > div.date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    clear: both;
    font-size: 0.7em;
    float: right;
}

#comments > div.comment > div.date > label.username,
#logs > div.log > div.date > label.username {
    font-weight: bold;
}

#comments > div.comment > div.date > label.creationDate,
#logs > div.log > div.date > label.creationDate {
    font-style: italic;
}

#summary {
    margin-top: 10px;
    margin-left: 10px;
}

#summary > * {
    padding: 8px;
    margin: 5px;
    float: right;
    font-size: 1.2em;
}

#comment {
    width: 100%;
    height: 150px;
}

#summary > input {
    width: 150px;
}

#status.canceled {
    background-color: rgba(255, 0, 0, 0.3);
}

#status.confirmed {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.pending {
    background-color: rgb(250, 250, 250);
}

#status.canceled {
    background-color: rgba(255, 0, 0, 0.3);
}

#status.confirmed {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.processing {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.inproduction {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.readytoship {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.shipped {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.delivered {
    background-color: rgba(0, 170, 0, 0.3);
}

#status.invoiced {
    background-color: rgba(0, 170, 0, 0.3);
}

div.loader {
    width: 200px;
    margin: 20px auto;
    display: none;
}

div.loader * {
    margin: 5px 0px;
    float: left;
    clear: both;
}