form {
    width: 600px;
    margin: 20px auto;
    overflow: hidden; /* Clearfix */
}

form > p > label:first-child {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    width: 50px;
}

form > p > label.error {

    float: left;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    clear: both;
    margin-left: 60px;
}

#serial {
    width: 390px;
    text-align: center;
}

#search {
    width: 100px;
}

form > p {
    margin: 10px auto;
}

form > p > input {
    margin-right: 5px;
}

#parts {
    padding: 20px;
    margin: 10px;
}

#parts > div.part {
    float: left;
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 8px;
    border: 2px solid #484848;
}

#parts > div.part > div.details > span {
    display: block;
    float: left;
    clear: both;
}

#parts > div.part > div.details {
    padding: 5px;
    height: 140px;
    overflow: hidden;
}

#parts > div.part > div.details > span.name {
    font-size: 1.5em;
    font-weight: bold;
}

#parts > div.part > div.details > span.description {
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    clear: both;
}

#parts > div.part > div.buttons {
    float: left;
    border: 2px solid #484848;
    width: 236px;
    padding: 5px;
    overflow: hidden;
}

#parts > div.part > div.buttons > span.quantity {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    margin: 0px 5px;
}

#parts > div.part > div.buttons > input.addCart, input.removeCart {
    float: right;
}