#categories {
    margin: 20px;
}

.category {
    float:left;
    width: 300px;
    height: 300px;
    margin: auto;
}

.category span {
    display: block;
    font-size: 2.5em;
    width: 300px;
    margin: 3px auto;
    text-align: center;
    cursor: pointer;
}

.category img {
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    cursor: pointer;
}
