#frmSerialGlider {
    width: 600px;
    margin: 20px auto;
}

#frmSerialGlider > p > label {
    margin-right: 5px;
    font-weight: bold;
}

#txtSerialGlider {
    width: 65%;
    text-align: center;
}

#frmSerialGlider > p {
    margin: 10px auto;
}

#frmSerialGlider > p > input {
    margin-right: 5px;
    padding: 8px;
}

#partTypes {
    padding: 20px;
    margin: 10px;
}

#partTypes > div.partType {
    float: left;
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 8px;
    border: 2px solid #484848;
}

#partTypes > div.partType > div.details > span {
    display: block;
    float: left;
    clear: both;
}

#partTypes > div.partType > div.details {
    padding: 5px;
    height: 140px;
    overflow: hidden;
}

#partTypes > div.partType > div.details > span.name {
    font-size: 1.5em;
    font-weight: bold;
}

#partTypes > div.partType > div.details > span.description {
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    clear: both;
}

#partTypes > div.partType > div.buttons {
    float: left;
    border: 2px solid #484848;
    width: 236px;
    padding: 5px;
    overflow: hidden;
}

#partTypes > div.partType > div.buttons > span.quantity {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    margin: 0px 5px;
}

#partTypes > div.partType > div.buttons > input.addCart, input.removeCart {
    float: right;
}